#phone {
    margin: 12px 35px;
    position: absolute;
    right: 0;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.top-buttons {
    margin: 45px 30px;
    position: absolute;
    right: 0;
    display: flex;
    gap: 15px;
}
